
h1,h2,h3 {color: red; background-color: rgb(230, 255, 7);
    display: flex;
  justify-content: center; 
  align-items: center;
}


#myId {color: rgb(59, 21, 85);background-color: 
rgb(255, 255, 255);
display: flex;
  justify-content: center; 
  align-items: center;
}

li {
    color: #ffffff; 
    margin-bottom: 60px;  
  align-items: center;
   
}